.send__mail {
    position: absolute;
    bottom: 0px;
    right: 50px;
    background-color: #404040;
    width: 40%;
    height: 40%;
    max-width: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid whitesmoke;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}

.send__mail--header {
    padding: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
}

.send__mail--header > h3 {
    color: whitesmoke;
    font-size: 13px;
}

.send__mail--button  {
    background-color: #3079ed !important;
    text-transform: capitalize !important;
    margin: 15px !important;
}

.send__mail--close {
    cursor: pointer;
}

.send__mail > form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.send__mail > form > input {
    height: 30px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
}

.send__mail--message {
    flex: 1;
}

.send__mail--error {
    background-color: white;
    color: red;
    text-align: right;
    padding: 2px;
}